/* this is for..... */
*{box-sizing: border-box;}

body{
    padding: 10px;
	background-color: #E1F1FE;
}

.container{
	width: 1280px;
	min-height: 500px;
	margin: 0 auto;
	border: 1px solid black;
	display: table;
}


section{
	width: 100%;
	min-height: 50px;
    clear: both;
	display: table;
}

section.a3 h1{
    font-family: 'Kaushan Script', cursive;
	line-height: 0.2;
	padding: 10px;
}

section.a3 h2{
    font-family: 'Roboto Condensed', sans-serif;
	padding: 10px;
	font-size: 17px;
}

.a1{
    padding: 10px;
}
	
.col3.center{
    background-color: pink;
}
	
section.a1 h1{
    font-family: 'Kaushan Script', cursve;
	line-height: 0;
	font-size: 25px;
}

section.a1 h2{
    font-family: 'Kaushan Script', cursive;
	text-align: center;
	font-size: 19px;
}

section.a1 h3{
    font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}
 
section.a1 button{
    margin-top: -10px;
	margin-bottom: 1px;
	float: right;
}
 
.a1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.a2{
    padding-bottom: 2px;
}

section.a2 h1{
    padding: 10px;
	font-family: 'Kaushan Script', cursive;
	line-height: 0.1;
	font-size: 20px;
	}
	
section.a2 h2{
    font-family: 'Kaushan Script', cursive;
	font-size: 17px;
	line-height: 1.6;
}

section.a2 button{
    margin-top: -10px;
	margin-bottom: 1px;
}

section.a2 h3{
    font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px;
	line-height: 1.1;
}
	
.a2 img{
	display: block;
    padding-right: 65px;
	margin-left: -9px;
}

section.a4 h1{
    font-family: 'Kaushan Script', cursive;
	line-height: 0.2;
	padding: 10px;
	font-size: 25px;
}

section.a4 h2{
    font-family: 'Roboto Condensed', sans-serif;
	padding: 10px;
	font-size: 17px;
}

section.a4 h3{
    font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px;
	line-height: 1.1;
}

section.a4 h4{
    font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 10px;
	line-height: 1.1;
}

.a4 img{
    display: block;
}

.column{
	float: left;
    min-height: 50px;
	margin-top: 20px;
	margin-bottom: -4px; /* this is needed for inline-block bug */
	border: 0px solid black;
	padding: 17px;
}

.col2{width: 50%;}
.col3{width: 33.3333%;}
.col32{width: 66.66%;}
.col4{width: 25%;}
.col43{width: 75%;}
.col5{width: 20%;}
.col54{width: 80%;}

header{
	width: 100%;
	min-height: 130px;
	clear: both;
	height: 70px;
    text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	padding-top: 70px;
	line-height: 19px;
}


/* Set a style for all buttons */
.login button {
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.login {
	float: left;
}

.login button:hover {
    opacity: 0.8;
}

.register button {
    color: black;
    padding: 10px 20px;
    margin: 8px 10px 0 5px;
    border: none;
    cursor: pointer;
    width: 100%;
	display: block;
}
.register {
	float: left;
}

.register button:hover {
    opacity: 0.8;
}

.search-container{
  padding: 6px 10px;
  margin-bottom: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container form{
	float: right;
	padding-top: 18px;
}

footer{
	width: 100%;
	clear: both;
	padding: 30px;
}


nav{
	width: 100%;
	clear: both;
	padding: 30px;	
	border: 1px solid black;
	text-align: center;
}

nav a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 13px;
	line-height: 0;
    text-decoration: none;
    font-size: 25px;
}

footer{
   text-align: center;
}